* {
  box-sizing: border-box;
}
header{
    width: 100%;
    height: 100px;
    position: fixed;
    padding: 10px 0;
    font-family: 'Ubuntu';
    background: #ffffff;
    top:0;
    z-index:8;
}
footer{
    width: 100%;
    height: 100px;
    position: fixed;
    padding: 10px 0;
    font-family: 'Ubuntu';
    background: #ffffff;
    bottom:0;
}
header .container{
    width: 90%; /* This is the inner width of the content inside of your header (80%, etc) */
    height: 100%;
    display: block;
    margin: 0 auto;
}

header .logo{
    display: table;
    height: 100%;
    float: left;
}
header nav{
    float: right;
    height: 100%;
}

header nav li{
    display: table;
    height: 100%;
    float: left;
    margin-right: 30px;
}
header nav span {
    display: table-cell;
    vertical-align: middle;
}
header nav a{
    color: #101010;
}

header nav .button{
    background-color: #1ab26b; /* This HEX is the color of the button */
    color: #FFF;
    padding: 10px 20px;
    border-radius: 4px;
}

header nav .button:hover{
    filter: brightness(1.05);
}
.projectTitle {
    font-size:60px;
    padding: 5px;
}
.title {
    margin: auto;
    text-align: center;
    position: relative;
    top:150px;
    height: 500px;
    font-family: 'Ubuntu';
}
section {
    top-padding: 40px;
    bottom-padding: 40px;
    position: inherit;
    top: 40px;
}
.passage {
    font-size:20px;
    padding: 30px;
}
.3marginR {
    float: right;
    width: 33.333%;
    padding: 80px;
position: absolute;
}
.2marginR {
    float: right;
    width: 50%;
    padding: 30px;
position: absolute;
}
.1marginR {
    float: right;
    width: 100%;
    padding: 30px;
position: absolute;
}
.5marginR {
    float: right;
    width: 20%;
    padding: 20px;
position: absolute;
}
.3marginL {
    float: left;
    width: 33.333%;
    padding: 30px;
position: absolute;
}
.2marginL {
    float: left;
    width: 50%;
    padding: 30px;
    position: absolute;
}
.1marginL {
    float: left;
    width: 100%;
    padding: 30px;
    position: absolute;
}

figure {
    padding: 10px;

}
article {
  content: "";
  clear: both;
  display: table;
}
.noflow {
    content: "";
    clear: both;
    display: table;
    max-height:480px;
    width: 100%;
    position: inherit;

}
.noflowCenter {
        display: inline-block;
        justify-content: center;

        position: inherit;

        float: right;

}
.projects {
    position: absolute;
    font-family:'Ubuntu';
    width=100%;
    padding-right: 4%;
    padding-left: 4%;
    margin-left:8%;
    margin-right:8%;
    background:#FFFFFF75;
    z-index: 1;
}

body{
    margin-left:auto;
    margin-right:auto;
    }
main {
    width: 100%;
    height: 80%;
    top:100px;
    bottom:100px;
    position:fixed;
    background:linear-gradient(to right, #CFDEF0, #F0E1CF);
    Overflow-y:scroll;
}
.background {
    position:inherit;
     top:0;
     left:0;
     width:100%;
     height:100%;
     overflow:hidden;
     z-index: -1;
}
.background li {
  width:30px;
  height:30px;
  background-color:#b89393;
  position:absolute;
  display:block;
  bottom:-110px;
  animation:animate 20s linear infinite;
}
.background li:nth-child(1) {
  left:85%;
  width:50px;
  height:50px;
  animation-delay:0s;
}
.background li:nth-child(2) {
  left:10%;
  width:30px;
  height:30px;
  animation-delay:1.5s;
  animation-duration:10s;
}
.background li:nth-child(3) {
  left:65%;
  width:100px;
  height:100px;
  animation-delay:1.8s;
  animation-duration:15s;
}
.background li:nth-child(4) {
  left:35%;
  width:50px;
  height:50px;
  animation-delay:2s;
  animation-duration:5s;
}
.background li:nth-child(5) {
  left:55%;
  width:60px;
  height:60px;
  animation-delay:2s;
  animation-duration:8s;
}
.background li:nth-child(6) {
  left:20%;
  width:70px;
  height:70px;
}
@keyframes animate {
  0% {
    transform:translateY(0) rotate(0deg);
    opacity:1;
  }
  100% {
    transform:translateY(-1000px) rotate(360deg);
    opacity:0;
  }
}
